@use 'mixins' as *;

// Section Label
.label {
  @include label;
  display: block;
  width: max-content;
  margin-inline: auto;
  margin-bottom: 20px;
}

// Text highlight
.mark {
  background: var(--highlight);
  padding: 2px 5px;
  border-radius: 3px;
}
